@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './colors.pcss';

body {
    * {
        font-family: 'Roboto', sans-serif;
        color: var(--font-color);
    }
}
fieldset {
	border: none;
	padding: 0;
	margin: 0;
}