<section class="container--full">
    <section class="shapes-container">
        <h1>
            Disponíveis
        </h1>
        <div class="shapes-container__item" v-for="shape in availableShapes" :key="shape.name" v-shape="{shape, choosen:false}">
        </div>
    </section>
    <section class="shapes-container">
        <h1>
            Escolhidas
        </h1>
        <div class="shapes-container__item" v-for="shape in choosenShapes" :key="shape.name" v-shape="{shape, choosen:true}">
        </div>
    </section>
    <button v-on:click="generateMatch" class="btn btn--success btn--xl" type="button">
        Gerar
    </button>
</section>