html, body {
    height: 100%;
}

ul ol {
    list-style-type: none;
}

#app {
    height: 100%;
    width: 100%;
}

.curved-border--top {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.curved-border--bottom {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}